@model CarShop.Infrastructure.Car

@{
    ViewData["Title"] = "Delete";
}


<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6 class="card-text mt-5 text-center">Выбранная машина удалена</h6>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>