@model CarViewModel

@{
    ViewData["Title"] = "Авто с дизельным двигателем";
}


<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mt-5">
                        <div class="row">
                            @{
                                foreach (var car in Model.GetAllCars)
                                {
                                    <div class="col-sm-4 text-center mb-2">
                                        <h2>@car.Model</h2>
                                        <p>Цена: @car.Price.ToString("c")</p>
                                        <a href="@Url.Action("Show", "Car", new {id = car.Id})">
                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Подробнее</button>
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <a href="@Url.Action("Fuel", "Car")">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Назад</button>
    </a>
</div>
